.welcome-container {
  text-align: center;
  margin-top: 100px;
  color: #2c3e50;

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .description {
    font-size: 1.2rem;
    color: #34495e;
  }
}
